doctype html 
html(lang='en')
    head
        div.log
            a(href='/login') login
        title Oscorp
        link(rel='stylesheet', href='/static/main.css')
    body 
    div.wrapper
        h1.logo Oscorp Education
        block number1   