* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}
.logo {
    text-align: center;
    font-size: 4rem;
}
.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border-radius: 1rem;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(18, 1, 34);
    border-radius: 1rem;
    color: #fff;
}

.btn:hover {
    border: 1px solid rgb(18, 1, 34);
    background-color: white;
    color: rgb(18, 1, 34);
}
.lessons {
    margin-top: 25px;
    padding: 10px;
    border-radius: 1rem;
}

.lesson:hover{
    background-color: #fff;
    transform: translateX(-1em);
    border-radius: 0;
}

.lesson {
    position: relative;
    padding: .75em 1em;
    cursor: pointer;
    background-color: rgb(151, 116, 184);
    transition: .3s ease-in-out;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff
}

.lesson::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #cccccc;
    border-radius: 30%;
    vertical-align: middle;
    margin-right: .5em;
} 

.lesson::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: rgb(151, 116, 184);
    transition: .3s ease-in-out;
} 

.lesson:hover::after {
    width: 5px;
}

.lessons .lesson input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;    
}

.lessons .lesson .check {
    position: absolute;
    left: .7em;
    top: .25em;
    font-size: 1.7em;
    color: rgb(151, 116, 184);
    transition: .3s ease-in-out;
    max-width: 30px;
    max-height: 35px;
}



.error,
.success {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 15px;
    border-radius: 1rem;
}

.success {
    color: green;
    border: 1px solid green;
}

.error {
    color: red;
    border: 1px solid red;
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
    color: white;
    border-radius: 1rem;
}

.delete:hover {
    background-color: rgb(151, 116, 184);
}

.done,
.undone {
    text-decoration: none;
    color: black;
}

.done {
    text-decoration: line-through;
}

.text-div{
    width: 100%;
    max-width: 500px;
    margin: 300px auto 0;
}

.log {
    height: 4em;
    background-color: rgb(151, 116, 184);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.log a {
    margin-right: 15px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 6px;
    padding: 5px 10px;
}
.log a:hover{
    background-color: #fff;
    color: rgb(151, 116, 184);
}